@using MvcOtobusBiletleme.Models.Siniflar;
@model List<Biletler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            <th>Sefer</th>
            <th>Kalkış Zamanı</th>
            <th>Cinsiyet</th>
            <th>Koltuk Numarası</th>
        </tr>
    </thead>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.Seferler.SeferAd</td>
            <td>@u.KalkisZamani</td>
            <td>@u.YolcuCinsiyet</td>
            <td>@u.KoltukNo</td>            
        </tr>
    }
</table>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
<script>
    $('#tbl1').dataTable({});
</script>