
<div class="row">
    <div class="col-xxs-12 col-xs-6 mt">
        <div class="input-field">
            <label for="from">Nerden:</label>
            <input type="text" class="form-control" id="KalkisSehirAd" placeholder="Ankara, İstanbul" />
        </div>
    </div>
    <div class="col-xxs-12 col-xs-6 mt">
        <div class="input-field">
            <label for="from">Nereye:</label>
            <input type="text" class="form-control" id="VarisSehirAd" placeholder="Afyon, İzmir" />
        </div>
    </div>
    <div class="col-xxs-12 col-xs-6 mt alternate">
        <div class="input-field">
            <label for="date-start">Gidiş:</label>
            <input type="text" class="form-control" id="KalkisZamani" placeholder="mm/dd/yyyy" />
        </div>
    </div>
    <div class="col-xxs-12 col-xs-6 mt alternate">
        <div class="input-field">
            <label for="date-end">Dönüş:</label>
            <input type="text" class="form-control" id="date-end" placeholder="mm/dd/yyyy" />
        </div>
    </div>
    <div class="col-xs-12">
        <input type="submit" class="btn btn-primary btn-block" value="Seferleri Göster">
    </div>
</div>